@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 4px;

    &:hover {
        background: rgba(0,0,0,0.4);
    }
}

body {
    font-family: sans-serif;
    color: #000;
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;

    a {
        text-decoration: none;
        color: rgb(20, 20, 20);

        &:active {
            color: inherit;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1, h2, h3 {
        font-family: "Roboto", sans-serif;
        color: rgb(20, 20, 20);
    }

    div.hidden {
        opacity: 0;
    }

    #root {
        header.site-header {
            height: 14vh;
            padding: 20px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1200;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);

            div.header-column-1 {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                gap: 20px;

                div.header-logo-container {
                    max-width: 74px;
                    height: auto;
                    
                    img {
                        border-radius: 50%;
                    }
                }

                h2 {
                    font-weight: 400;
                    font-size: 22px;
                }

                h1 {
                    font-weight: 400;
                }
            }

            div.header-column-2 {
                ul.header-social-links {
                    list-style-type: none;
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 20px;

                    li {
                        a {
                            svg {
                                width: 25px;
                                height: 25px;
                                transition: all 0.15s ease-in-out;

                                &:active {
                                    transform: scale(0.7);
                                }
                            }
                        }
                    }
                }
            }
        }

        div.navbar-content {
            margin-top: 14vh;
            display: flex;
            flex-flow: row nowrap;

            nav.site-navbar {
                padding: 10px;
                min-width: 250px;
                max-width: 250px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                background-color: #fff;

                ul {
                    list-style-type: none;

                    li {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 8px 50px 8px 8px;
                        
                        h2 {
                            font-size: 30px;
                            font-weight: 400;
                        }
                    }
                }
            }

            main.site-content-container {
                flex-grow: 1;
                height: 86vh;
                overflow-y: scroll;
                padding: 0 30px 30px 30px;

                div.scroll-to-top-button {
                    position: absolute;
                    right: 50px;
                    bottom: 30px;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: #fff;
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.15s ease-in-out;

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.8);
                    }
                }

                div.site-content {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 30px;

                    h2 {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 16px 0 10px 0;
                        font-size: 30px;
                        font-weight: 400;
                    }

                    div.projects-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        div.project-card {
                            padding: 15px;
                            flex-grow: 1;
                            flex-basis: 45%;
                            max-width: 45%;
                            border-radius: 5px;
                            display: flex;
                            flex-flow: column nowrap;
                            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            background-color: #fff;
                            transition: all .75s ease-in-out;

                            div.name-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 400;
                                }
                            }

                            div.role-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                margin-top: 5px;
                                margin-bottom: 10px;

                                h4:first-of-type {
                                    font-weight: 400;
                                    font-size: 18px;
                                }

                                h4:last-of-type {
                                    font-weight: 400;
                                }
                            }

                            div.description {
                                p {
                                    font-size: 18px;
                                    line-height: 24.5px;
                                }
                            }
                        }
                    }

                    div.job-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        div.job-card {
                            padding: 15px;
                            flex-grow: 1;
                            flex-basis: 45%;
                            max-width: 45%;
                            border-radius: 5px;
                            display: flex;
                            flex-flow: column nowrap;
                            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            background-color: #fff;
                            transition: all .75s ease-in-out;

                            div.company-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;
                                
                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 400;
                                }
                                
                            }

                            div.role-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                margin-top: 5px;
                                margin-bottom: 10px;

                                h4:first-of-type {
                                    font-weight: 400;
                                    font-size: 18px;
                                }

                                h4:last-of-type {
                                    font-weight: 400;
                                }
                            }

                            div.description {
                                p {
                                    font-size: 18px;
                                    line-height: 24.5px;
                                }
                            }
                        }
                    }

                    div.degrees-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        div.degree-card {
                            padding: 15px;
                            flex-grow: 1;
                            flex-basis: 45%;
                            max-width: 45%;
                            border-radius: 5px;
                            display: flex;
                            flex-flow: column nowrap;
                            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            background-color: #fff;
                            transition: all .75s ease-in-out;

                            div.institution-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 400;
                                }
                            }

                            div.program-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                margin-top: 5px;
                                margin-bottom: 10px;

                                h4:first-of-type {
                                    font-weight: 400;
                                    font-size: 18px;
                                }

                                h4:last-of-type {
                                    font-weight: 400;
                                }
                            }

                            div.description {
                                p {
                                    font-size: 18px;
                                    line-height: 24.5px;
                                }
                            }
                        }
                    }

                    div.certifications-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        div.certification-card {
                            padding: 15px;
                            flex-grow: 1;
                            flex-basis: 45%;
                            max-width: 45%;
                            border-radius: 5px;
                            display: flex;
                            flex-flow: column nowrap;
                            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            background-color: #fff;
                            transition: all .75s ease-in-out;

                            div.name-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 400;
                                }
                            }

                            div.institution-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                margin-top: 5px;
                                margin-bottom: 10px;

                                h4:first-of-type {
                                    font-weight: 400;
                                    font-size: 18px;
                                }

                                h4:last-of-type {
                                    font-weight: 400;
                                }
                            }

                            div.description {
                                p {
                                    font-size: 18px;
                                    line-height: 24.5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
