@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;

    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}

body {
    font-family: "Merriweather Sans", sans-serif;
    color: #000;
    background-color: #f1f3f8;

    a {
        text-decoration: none;
        color: rgb(20, 20, 20);

        &:active {
            color: inherit;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3 {
        color: rgb(20, 20, 20);
    }

    *.hidden {
        opacity: 0;
    }

    #root {
        header.site-header {
            height: 14vh;
            padding: 20px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1200;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);

            &.dark {
                background-color: #242323;
                -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);

                div.header-column-1 {
                    h1,
                    h2 {
                        color: #fff;
                    }
                }

                div.header-column-2 {
                    svg {
                        color: #fff;

                        g {
                            fill: #fff;
                        }
                    }
                }
            }

            @media screen and (max-width: 600px) {
                height: 12vh;
            }

            @media screen and (max-width: 580px) {
                padding: 12px;
            }

            div.header-column-1 {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                gap: 10px;

                div.header-logo-container {
                    max-width: 74px;
                    height: auto;

                    @media screen and (max-width: 580px) {
                        max-width: 60px;
                    }

                    img {
                        border-radius: 50%;
                        transition: all 1s ease-in-out;
                    }
                }

                h2 {
                    font-weight: 300;
                    font-size: 22px;

                    @media screen and (max-width: 580px) {
                        font-size: 18px;
                    }
                }

                h1 {
                    font-weight: 300;

                    @media screen and (max-width: 580px) {
                        font-size: 26px;
                    }
                }
            }

            div.header-column-2 {
                ul.header-social-links {
                    list-style-type: none;
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 15px;

                    @media screen and (max-width: 850px) {
                        display: none;
                    }

                    li {
                        a {
                            svg,
                            img {
                                width: 28px;
                                height: 28px;
                                transition: all 0.15s ease-in-out;

                                &:hover {
                                    transform: scale(1.2);
                                }

                                &:active {
                                    transform: scale(0.9);
                                }
                            }
                        }
                    }
                }

                div.hamburger-icon {
                    @media screen and (min-width: 850px) {
                        display: none;
                    }

                    svg {
                        width: 32px;
                        height: 32px;
                        transition: all 0.15s ease-in-out;

                        &:hover {
                            cursor: pointer;
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }

        div.navbar-content {
            margin-top: 14vh;
            display: flex;
            flex-flow: row nowrap;

            &.dark {
                nav.site-navbar-small-screen {
                    background-color: rgb(14, 14, 14);
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);

                    ul.nav-links {
                        li {
                            h2 {
                                a {
                                    color: #fff;
                                }

                                &.active {
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    svg {
                        color: #fff;

                        g {
                            fill: #fff;
                        }
                    }
                }

                nav.site-navbar {
                    background-color: #242323;
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);

                    ul {
                        li {
                            h2 {
                                a {
                                    color: #fff;
                                }

                                &.active {
                                    a {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }

                main.site-content-container {
                    background-color: #363636;

                    div.scroll-to-top-button {
                        -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                        background-color: #bdd237;

                        svg {
                            fill: #242323;
                        }
                    }

                    div.site-content {
                        h2 {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                            color: #fff;
                        }

                        div.card {
                            -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                            background-color: #242323;

                            &.contact-card {
                                form.contact-form {
                                    label, input, textarea {
                                        color: #fff;
                                    }
    
                                    input,
                                    textarea {
                                        background-color: #303133;
                                    }
    
                                    button {
                                        background: #bdd237;
                                        color: #363636;
                                    }
                                }
                            }

                            &.project-card {
                                h3, p {
                                    color: #fff;
                                }
    
                                div.name-location {
                                    h4 {
                                        color: #bcbcbc;
                                    }
                                }
    
                                div.role-dates {
                                    h4:first-of-type {
                                        color: #bdd237;
                                    }
    
                                    h4:last-of-type {
                                        color: #bcbcbc;
                                    }
                                }
    
                                ul.tech-used {
                                    li {
                                        background-color: #576403;
                                        color: #fff;
                                    }
                                }
    
                                ul.links {
                                    li {
                                        svg {
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            &.job-card {
                                h3, p {
                                    color: #fff;
                                }
    
                                div.company-location {
                                    h4 {
                                        color: #bcbcbc;
                                    }
                                }
    
                                div.role-dates {
                                    h4:first-of-type {
                                        color: #bdd237;
                                    }
    
                                    h4:last-of-type {
                                        color: #bcbcbc;
                                    }
                                }
    
                                ul.tech-used {
                                    li {
                                        background-color: #576403;
                                        color: #fff;
                                    }
                                }
                            }

                            &.degree-card {
                                h3, p, li {
                                    color: #fff;
                                }

                                div.institution-location {
                                    h4 {
                                        color: #bcbcbc;
                                    }
                                }

                                div.program-dates {
                                    h4:first-of-type {
                                        color: #bdd237;
                                    }

                                    h4:last-of-type {
                                        color: #bcbcbc;
                                    }
                                }
                            }

                            &.certification-card {
                                h3, p, li, svg {
                                    color: #fff;
                                }

                                div.name-location {
                                    h4 {
                                        color: #bcbcbc;
                                    }
                                }

                                div.institution-dates {
                                    h4:first-of-type {
                                        color: #bdd237;
                                    }

                                    h4:last-of-type {
                                        color: #bcbcbc;
                                    }
                                }

                                ul.tech-used {
                                    li {
                                        background-color: #576403;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        div.about-list {
                            div.intro-card, div.skills-card, div.opportunities-card {
                                -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                                box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.01);
                                background-color: #242323;
    
                                p, li {
                                    color: #fff;                                
                                }
    
                                a {
                                    color: #bdd237;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 600px) {
                margin-top: 12vh;
            }

            nav.site-navbar-small-screen {
                position: fixed;
                width: 100%;
                left: 0;
                top: -100%;
                background-color: #f1f3f8;
                padding: 20px;
                z-index: 1050;
                display: flex;
                flex-flow: column nowrap;
                gap: 30px;
                font-size: 28px;
                color: #ececec;
                transition: all 0.5s ease-in-out;
                -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.14);
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.14);

                @media screen and (max-width: 850px) {
                    top: 85px;
                }

                @media screen and (max-width: 600px) {
                    height: 90%;
                }

                &.hidden {
                    top: -100%;
                }

                ul.nav-links {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-end;
                    list-style-type: none;

                    @media screen and (max-width: 600px) {
                        align-items: center;
                    }

                    li {
                        padding: 16px;

                        h2 {
                            font-size: 30px;
                            font-weight: 300;

                            &.active {
                                a {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }

                ul.social-links {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    list-style-type: none;

                    li {
                        a {
                            svg,
                            img {
                                width: 28px;
                                height: 28px;
                                transition: all 0.15s ease-in-out;

                                &:hover {
                                    transform: scale(1.2);
                                }

                                &:active {
                                    transform: scale(0.9);
                                }
                            }
                        }
                    }
                }

                footer.navbar-footer {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 8px;

                    span {
                        svg {
                            height: 16px;
                            width: 16px;
                            margin-bottom: 1.5px;
                        }
                    }
                }
            }

            nav.site-navbar {
                padding: 10px;
                min-width: 220px;
                max-width: 220px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                border-right: 1px solid rgba(0, 0, 0, 0.2);
                background-color: #fff;
                -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.05);

                @media screen and (max-width: 850px) {
                    display: none;
                }

                ul {
                    list-style-type: none;
                    margin: auto;

                    li {
                        padding: 20px;

                        h2 {
                            font-size: 26px;
                            font-weight: 300;
                            text-align: center;

                            &.active {
                                a {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }

                footer.navbar-footer {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 8px;

                    span {
                        svg {
                            margin-top: 3.5px;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }

            main.site-content-container {
                flex-grow: 1;
                height: 86vh;
                overflow-y: scroll;
                padding: 0 30px 30px 30px;
                background-color: #f4f4f4;

                @media screen and (max-width: 600px) {
                    height: 88vh;
                    padding: 0 10px 10px 10px;
                }

                div.scroll-to-top-button {
                    position: absolute;
                    right: 30px;
                    bottom: 25px;
                    height: 50px;
                    width: 50px;
                    z-index: 100;
                    border-radius: 50%;
                    background-color: #355c97;
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.15s ease-in-out;

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.8);
                    }
                }

                div.site-content {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 30px;

                    @media screen and (max-width: 600px) {
                        gap: 20px;
                    }

                    h2 {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 24px 0 10px 0;
                        font-size: 30px;
                        font-weight: 300;

                        &.large-screen-hidden {
                            @media screen and (min-width: 850px) {
                                font-size: 0;
                                padding: 0;
                                border: none;
                            }
                        }
                    }

                    div.card {
                        padding: 15px;
                        flex-grow: 1;
                        border-radius: 5px;
                        display: flex;
                        flex-flow: column nowrap;
                        -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                        background-color: #fff;
                        transition: all 1s ease-in-out;
                        
                        &.contact-card {
                            gap: 16px;
                            width: 700px;
                            margin: auto;

                            @media screen and (max-width: 1050px) {
                                width: 100%;
                            }
    
                            form.contact-form {
                                display: flex;
                                flex-flow: column nowrap;
                                gap: 16px;
    
                                label {
                                    font-size: 22px;
                                    font-weight: 300;
                                    color: #141414;
                                }
    
                                input,
                                textarea {
                                    height: 40px;
                                    border-radius: 4px;
                                    font-size: 20px;
                                    font-family: inherit;
                                    padding: 8px;
                                    border: none;
                                    outline: none;
                                    background-color: #f1f3f8;
                                }
    
                                textarea {
                                    height: 200px;
                                    resize: none;
                                }
    
                                button {
                                    background: #355c97;
                                    max-width: 100px;
                                    height: 44px;
                                    border-radius: 4px;
                                    transition: all 0.2s ease-in-out;
                                    padding: 0;
                                    border: none;
                                    font-size: 20px;
                                    color: #ffffff;
                                    text-align: center;
                                    font-family: inherit;
    
                                    &:hover {
                                        cursor: pointer;
                                    }
    
                                    &:active {
                                        transform: scale(0.9);
                                    }
                                }
    
                                div.label-input {
                                    display: flex;
                                    flex-flow: column nowrap;
                                    gap: 8px;
                                }
    
                                div.first-row {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    gap: 16px;
                                    width: 100%;
    
                                    @media screen and (max-width: 600px) {
                                        flex-flow: column nowrap;
                                    }
    
                                    & > div {
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }

                        &.project-card {
                            flex-basis: 45%;
                            max-width: 48%;

                            @media screen and (max-width: 1100px) {
                                flex-basis: 60%;
                                max-width: 85%;
                            }

                            @media screen and (max-width: 900px) {
                                max-width: 95%;
                            }

                            @media screen and (max-width: 600px) {
                                max-width: 100%;
                            }

                            div.name-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }
                            }

                            div.role-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                margin: 16px 0;

                                @media screen and (max-width: 420px) {
                                    flex-flow: column nowrap;
                                    gap: 2px;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }

                                h4:first-of-type {
                                    font-size: 20px;
                                    color: #355c97;
                                }
                            }

                            div.description {
                                p {
                                    font-size: 18px;
                                    line-height: 1.56;
                                    font-weight: 300;
                                }
                            }

                            ul.tech-used {
                                display: flex;
                                flex-flow: row wrap;
                                gap: 8px;
                                list-style-type: none;
                                margin: 24px 0 16px 0;

                                li {
                                    padding: 4px 10px;
                                    background-color: rgba(210, 221, 239, 0.38);
                                    border-radius: 14px;
                                }
                            }

                            ul.links {
                                display: flex;
                                flex-flow: row-reverse nowrap;
                                gap: 8px;
                                list-style-type: none;

                                li {
                                    svg,
                                    img {
                                        height: 23px;
                                        width: 23px;
                                        transition: 0.15s all ease-in-out;

                                        &:hover {
                                            transform: scale(1.2);
                                        }

                                        &:active {
                                            transform: scale(0.9);
                                        }
                                    }
                                }
                            }
                        }

                        &.job-card {
                            flex-basis: 45%;
                            max-width: 48%;

                            @media screen and (max-width: 1100px) {
                                flex-basis: 60%;
                                max-width: 85%;
                            }

                            @media screen and (max-width: 900px) {
                                max-width: 95%;
                            }

                            @media screen and (max-width: 600px) {
                                max-width: 100%;
                            }

                            div.company-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }
                            }

                            div.role-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                margin: 16px 0;

                                @media screen and (max-width: 420px) {
                                    flex-flow: column nowrap;
                                    gap: 2px;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }

                                h4:first-of-type {
                                    color: #355c97;
                                }
                            }

                            div.description {
                                p {
                                    font-size: 18px;
                                    line-height: 1.56;
                                    font-weight: 300;
                                }
                            }

                            ul.tech-used {
                                display: flex;
                                flex-flow: row wrap;
                                gap: 8px;
                                list-style-type: none;
                                margin: 24px 0 8px 0;

                                li {
                                    padding: 4px 10px;
                                    background-color: rgba(210, 221, 239, 0.38);
                                    border-radius: 14px;
                                }
                            }
                        }

                        &.degree-card {
                            flex-basis: 45%;
                            max-width: 48%;

                            @media screen and (max-width: 1300px) {
                                flex-basis: 60%;
                                max-width: 60%;
                            }

                            @media screen and (max-width: 1200px) {
                                max-width: 75%;
                            }

                            @media screen and (max-width: 1000px) {
                                max-width: 85%;
                            }

                            @media screen and (max-width: 950px) {
                                max-width: 95%;
                            }

                            @media screen and (max-width: 600px) {
                                max-width: 100%;
                            }

                            ul {
                                line-height: 24.5px;
                                margin-left: 16px;
                            }

                            div.institution-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                }
                            }

                            div.program-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                margin: 16px 0;

                                @media screen and (max-width: 535px) {
                                    flex-flow: column nowrap;
                                    gap: 2px;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }
                                
                                h4:first-of-type {
                                    color: #355c97;
                                }
                            }

                            div.description {
                                ul {
                                    font-size: 18px;
                                    line-height: 1.56;
                                    font-weight: 300;
                                }
                            }
                        }

                        &.certification-card {
                            flex-basis: 45%;
                            max-width: 48%;

                            @media screen and (max-width: 1250px) {
                                flex-basis: 60%;
                                max-width: 85%;
                            }

                            @media screen and (max-width: 900px) {
                                max-width: 95%;
                            }

                            @media screen and (max-width: 600px) {
                                max-width: 100%;
                            }

                            div.name-location {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                align-items: center;

                                h3 {
                                    font-size: 22px;
                                    font-weight: 400;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }
                            }

                            div.institution-dates {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                gap: 8px;
                                margin: 16px 0;

                                @media screen and (max-width: 500px) {
                                    flex-flow: column nowrap;
                                    gap: 2px;
                                }

                                h4 {
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #5a5a5a;
                                }

                                h4:first-of-type {
                                    color: #355c97;
                                }
                            }

                            div.description {
                                margin-bottom: 24px;

                                p {
                                    font-size: 18px;
                                    line-height: 1.56;
                                    font-weight: 300;
                                }
                            }

                            ul.tech-used {
                                display: flex;
                                flex-flow: row wrap;
                                gap: 8px;
                                list-style-type: none;
                                margin-bottom: 16px;

                                li {
                                    padding: 4px 10px;
                                    background-color: rgba(210, 221, 239, 0.38);
                                    border-radius: 14px;
                                }
                            }

                            ul.links {
                                display: flex;
                                flex-flow: row-reverse nowrap;
                                flex-grow: 1;
                                align-items: flex-end;
                                gap: 8px;
                                list-style-type: none;

                                li {
                                    svg,
                                    img {
                                        height: 23px;
                                        width: 23px;
                                        transition: 0.15s all ease-in-out;

                                        &:hover {
                                            transform: scale(1.2);
                                        }

                                        &:active {
                                            transform: scale(0.9);
                                        }
                                    }
                                }
                            }
                        }

                    }

                    div.about-list {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap: 24px;

                        div.intro-card {
                            grid-row: 1 / -1;

                            @media screen and (max-width: 1100px) {
                                grid-row: 1;
                                grid-column: 1 / -1;
                            }
                        }

                        @media screen and (max-width: 650px) {
                            display: flex;
                            flex-flow: column nowrap;
                        }

                        div.intro-card, div.skills-card, div.opportunities-card {
                            padding: 15px;
                            flex-grow: 1;
                            border-radius: 5px;
                            display: flex;
                            flex-flow: column nowrap;
                            gap: 16px;
                            max-width: 950px;
                            -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
                            background-color: #fff;
                            transition: all 1s ease-in-out;
                            margin: auto;
                            height: 100%;
                            width: 100%;
        
                            p {
                                font-size: 18px;
                                line-height: 1.56;
                                font-weight: 300;
    
                                a {
                                    color: #355c97;
    
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
    
                            ul {
                                display: flex;
                                line-height: 24.5px;
                                flex-flow: row wrap;
                                justify-content: center;
                                column-gap: 24px;

                                @media screen and (max-width: 1100px) {
                                    row-gap: 4px;    
                                }

                                li {
                                    flex-basis: 40%;
                                    font-weight: 300;
    
                                    @media screen and (max-width: 1100px) {
                                        flex-basis: 60%;
                                    }
                                }
                            }
                        }
                    }


                    div.projects-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        @media screen and (max-width: 1100px) {
                            gap: 30px;
                            padding: 0;
                        }
                    }

                    div.job-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        @media screen and (max-width: 1100px) {
                            gap: 30px;
                            padding: 0;
                        }
                    }

                    div.degrees-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        @media screen and (max-width: 1300px) {
                            gap: 30px;
                            padding: 0;
                        }
                    }

                    div.certifications-list {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 45px;
                        padding: 0 10px;

                        @media screen and (max-width: 1250px) {
                            gap: 30px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
